[submodule "picojson"]
	path = external/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "external/boost/preprocessor"]
	path = external/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
