[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
[submodule "external/boost/preprocessor"]
	path = external/boost/preprocessor
	url = git@github.com:boostorg/preprocessor.git
